aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
argilla==1.4.0
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.0
backoff==2.2.1
certifi==2022.12.7
charset-normalizer==2.1.1
chromadb==0.3.11
click==8.1.3
clickhouse-connect==0.5.16
cmake==3.26.0
commonmark==0.9.1
dataclasses-json==0.5.7
Deprecated==1.2.13
dnspython==2.2.1
duckdb==0.7.1
et-xmlfile==1.1.0
fastapi==0.94.1
filelock==3.10.0
Flask==2.2.2
frozenlist==1.3.3
greenlet==2.0.2
gunicorn==20.1.0
h11==0.14.0
hnswlib==0.7.0
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.13.2
idna==3.4
importlib-metadata==5.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
langchain==0.0.113
lit==15.0.7
lxml==4.9.2
lz4==4.3.2
Markdown==3.4.1
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.0
nltk==3.8.1
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
openai==0.27.2
openpyxl==3.0.10
packaging==23.0
pandas==1.5.3
pandas-stubs==1.5.2.221213
Pillow==9.4.0
pycodestyle==2.10.0
pydantic==1.10.6
Pygments==2.14.0
PyJWT==2.6.0
pymongo==4.3.3
pypandoc==1.11
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.0
python-magic==0.4.27
python-pptx==0.6.21
pytz==2022.6
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
rfc3986==1.5.0
rich==13.0.1
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.97
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.46
starlette==0.26.1
sympy==1.11.1
tenacity==8.2.2
threadpoolctl==3.1.0
tokenizers==0.13.2
tomli==2.0.1
torch==2.0.0
torchvision==0.15.1
tqdm==4.64.1
transformers==4.27.1
triton==2.0.0
twilio==7.16.0
types-pytz==2022.6.0.1
typing-inspect==0.8.0
typing_extensions==4.4.0
unstructured==0.5.4
urllib3==1.26.13
uvicorn==0.21.0
uvloop==0.17.0
watchfiles==0.18.1
websockets==10.4
Werkzeug==2.2.2
wrapt==1.14.1
XlsxWriter==3.0.9
yarl==1.8.2
zipp==3.11.0
zstandard==0.20.0
